body{
    font-family: Arial, sans-serif;
    background-color: lightblue;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container{
    background:white;
    padding:20px;
    border-radius:10px;
    width:350px;
    text-align:center;
}

input{
    width:80%;
    padding:10px;
}

button{
    margin-top:10px;
    padding:10px 15px;
    cursor:pointer;
}

img{
    margin-top:10px;
    width:200px;
}
